    #logo {
        width: 10%;
        position: fixed;
        left: 0px;
        top: 0px;
    }
    #edit {
        padding: 0px;
        position: fixed;
        left: 0px;
        bottom: 20px;
    }
    .pure-button {
    width: 70%;
    }
    .markdown-body {
        position:absolute;
        left: 10%;
        width: 88%;
        margin: 0;
        padding: 1%;
    }
    .images {
        position:absolute;
        right: 0%;
        width: 15%;
        margin: 0;
        padding: 0;
}
